<?xml version="1.0" encoding="utf-8"?>
<manifest
	xmlns:android="http://schemas.android.com/apk/res/android"
	xmlns:tools="http://schemas.android.com/tools"
	>

	 <uses-feature
		 android:name="android.hardware.telephony"
		 android:required="false"
		 />
    <uses-permission android:name="android.alarm.permission.SET_ALARM"/>
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED"/>
    <uses-permission android:name="android.permission.USE_EXACT_ALARM"/>
    <uses-permission android:name="android.permission.SCHEDULE_EXACT_ALARM"/>
	<uses-permission android:name="android.permission.WAKE_LOCK"/>
	<uses-permission android:name="android.permission.VIBRATE"/>
    <uses-permission android:name="android.permission.SEND_SMS"/>
	<uses-permission android:name="android.permission.POST_NOTIFICATIONS"/>

    <application
		android:allowBackup="true"
		android:dataExtractionRules="@xml/data_extraction_rules"
		android:fullBackupContent="@xml/backup_rules"
		android:icon="@drawable/term_scheduler_launcher_icon"
		android:label="@string/app_name"
		android:roundIcon="@drawable/term_scheduler_launcher_icon"
		android:supportsRtl="true"
		android:theme="@style/Theme.TermScheduler"
		tools:targetApi="33"
		>
        <activity
			android:name=".notes.CourseNotesListActivity"
			android:exported="false"
			android:label="Course Notes"
			android:parentActivityName=".MainActivity"
			/>
        <activity
			android:name=".assessments.AddEditAssessmentActivity"
			android:exported="false"
			android:label="Add Assessment"
			android:parentActivityName=".assessments.AssessmentListActivity"
			/>
        <activity
			android:name=".courses.AddEditCourseActivity"
			android:exported="false"
			android:label="Add Course"
			android:parentActivityName=".courses.CourseListActivity"
			/>

        <activity
			android:name=".terms.AddEditTermActivity"
			android:exported="false"
			android:label="Add Term"
			android:parentActivityName=".terms.TermListActivity"
			/>
        <activity
			android:name=".assessments.AssessmentListActivity"
			android:exported="false"
			android:label="Assessments"
			android:parentActivityName=".MainActivity"
			/>
        <activity
			android:name=".courses.CourseListActivity"
			android:exported="false"
			android:label="Courses"
			android:parentActivityName=".MainActivity"
			/>
        <activity
			android:name=".terms.TermListActivity"
			android:exported="false"
			android:label="Terms"
			android:parentActivityName=".MainActivity"
			/>
        <activity
			android:name=".MainActivity"
			android:exported="true"
			>
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <receiver
			android:name="com.ebookfrenzy.termscheduler.utilities.AssessmentAlertReceiver"
			android:enabled="true"
			android:exported="false"
			>
        </receiver>
        <receiver
			android:name="com.ebookfrenzy.termscheduler.utilities.BootReceiver"
			android:enabled="false"
			android:exported="true"
			>
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED"/>
                <action android:name="android.intent.action.QUICKBOOT_POWERON"/>
            </intent-filter>
        </receiver>
        <receiver
			android:name="com.ebookfrenzy.termscheduler.utilities.CourseAlertReceiver"
			android:enabled="true"
			android:exported="false"
			>
        </receiver>
    </application>

    <queries>
        <intent>
            <action android:name="android.intent.action.SENDTO"/>

            <category android:name="android.intent.category.DEFAULT"/>

            <data android:scheme="mailto"/>
        </intent>
    </queries>



</manifest>
